/* Variables */
:root {
          --primary-color: #292929;
          --secondary-color: #e0e0e0;
          --hover-color: #ffffff;
          --font-size-large: 1.5rem;
          --my-blue: #00b3e6;
}

/* General Styles */
body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #121212;
          /* Fondo oscuro */
          color: #e0e0e0;
          /* Texto gris claro */
          line-height: 1.6;
}

/* Header */
header {
          background-color: #1e1e1e;
          /* Gris oscuro */
          padding: 5px 0 0 0;
          text-align: center;
          align-items: center;
}

header h1 {
          margin: 0;
          color: #ffffff;
          font-size: 3rem;
}

.header-container {
          display: flex;
          align-items: center;
          gap: 80px;
          justify-content: center;
}

.header-image {
          width: 150px;
          height: 150px;
          border-radius: 40%;
          object-fit: cover;
          border: 3px solid #ffffff;
}

h1:hover {
          color: var(--my-blue);
}

/* Navigation Menu */
nav {
          padding: 5px;
          display: flex;
          /* align-items: center; */
          justify-content: center;
}

nav ul {
          list-style: none;
          margin: 0;
          padding: 5px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 40px;
}

nav ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1 1 auto;
}

nav ul li a {
          color: #e0e0e0;
          text-decoration: none;
          font-size: 1.1rem;
          padding: 5px 5px;
          border-radius: 5px;
          text-align: center;
          white-space: nowrap;
}

nav ul li a:hover {
          background-color: var(--my-blue);
          color: #000000;
}

/* Section Titles */
section h2 {
          text-align: center;
          margin-bottom: 20px;
          color: #ffffff;
          font-size: 2rem;
}

/* About Section */
section#about {
          padding: 5px;
          background-color: #1a1a1a;
}

section#about:hover h2 {
          color: var(--my-blue);
}

section#about p {
          margin: 0 200px;
          padding-bottom: 30px;
}

/* Programming Experience */
section#programming-experience {
          padding: 30px;
          background-color: #2a2a2a;
}

section#programming-experience:hover h2 {
          color: var(--my-blue);
}

/* Education Section */
section#education {
          padding: 30px;
          background-color: #1a1a1a;
}

section#education:hover h2 {
          color: var(--my-blue);
}

section#education ul {
          margin: 0 150px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
}

section#education ul li {
          justify-content: center;
          align-items: center;
          flex: 1 1 auto;
}

section#education ul li span {
          display: block;
          margin-top: 5px;
          font-size: 0.9em;
}

/* Skills */
section#skills {
          padding: 30px;
          background-color: #2e2e2e;
}

section#skills:hover h2 {
          color: var(--my-blue);
}

/* Hobbies */
section#hobbies {
          padding: 30px;
          background-color: #1e1e1e;
}

section#hobbies:hover h2 {
          color: var(--my-blue);
}

.skills-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
}

.skill {
          text-align: center;
          background-color: #292929;
          /* Fondo del ícono */
          padding: 15px;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
          transition: transform 0.3s ease;
}

.skill:hover,
.skill:hover p,
.skill:hover i {
          transform: translateY(-15px);
          background-color: var(--my-blue);
          color: #000000;
}

.skill i {
          color: #ffffff;
          font-size: 3rem;
          margin-bottom: 10px;
}

.skill p {
          margin: 0;
          color: #e0e0e0;
}

.skill .fa-brands,
.skill .fa-solid {
          font-size: 150px;
}

/* Contact Form */
section#contact {
          padding: 30px;
          background-color: #2e2e2e;
}

section#contact:hover h2 {
          color: var(--my-blue)
}

form {
          max-width: 600px;
          margin: 0 auto;
          background-color: #292929;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

form label {
          display: block;
          margin-bottom: 5px;
          color: #ffffff;
}

form input,
form textarea,
form button {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: none;
          border-radius: 5px;
}

form input,
form textarea {
          background-color: #1e1e1e;
          color: #e0e0e0;
}

form button {
          background-color: #e0e0e0;
          color: #000000;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s ease;
}

form button:hover {
          background-color: #ffffff;
}

/* CV Button */

/* Button Container */
.button-container {
          display: flex;
          justify-content: center;
          /* Centra los botones horizontalmente */
          align-items: center;
          /* Alinea verticalmente si es necesario */
          gap: 150px;
          /* Espaciado entre los botones */
          margin: 10px 0;
}

.cv-button {
          text-align: center;
          margin: 20px 0;
}

.cv-button a {
          /* display: inline-block; */
          background-color: #292929;
          color: #ffffff;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 1.2rem;
          transition: background-color 0.3s ease, color 0.3s ease;
}

.cv-button a:hover {
          background-color: var(--my-blue);
          color: #000000;
}

/* Footer */
footer {
          text-align: center;
          padding: 10px;
          background-color: #1a1a1a;
          color: #e0e0e0;
          font-size: 0.9rem;
}

footer:hover {
          background-color: #1a1a1a;
          color: var(--my-blue)
}

#scrollToTopBtn {
          position: fixed;
          bottom: 20px;
          right: 20px;
          padding: 10px 20px;
          font-size: 16px;
          background-color: white;
          color: #000000;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          display: none;
          /* Ocultamos el botón inicialmente */
          transition: transform 0.5s ease-in-out;
}

#scrollToTopBtn:hover {
          background-color: var(--my-blue);
}

#btn-enviar:hover {
          background-color: var(--my-blue);
}

/* Cards Education */
/* Contenedor de las tarjetas */
#cards-section {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;
          padding: 5px;
}

/* Estilos generales para las tarjetas */
.card {
          width: 150px;
          height: 225px;
          perspective: 1000px;
}

.card-inner {
          width: 100%;
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 0.8s ease;
}

.card:hover .card-inner {
          transform: rotateY(180deg);
}

/* Cara frontal y posterior */
.card-front,
.card-back {
          width: 100%;
          height: 100%;
          position: absolute;
          backface-visibility: hidden;
          border-radius: 20px;
          overflow: hidden;
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

/* Cara frontal */
.card-front {
          background-color: #292929;
          display: flex;
          align-items: center;
          justify-content: center;
}

.card-front img {
          width: 100%;
          height: 100%;
          object-fit: cover;
}

/* Cara posterior */
.card-back {
          background-color: #1a1a1a;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 5px;
          transform: rotateY(180deg);
}



/* Resposive media */

@media (min-width: 769px) {
          nav ul li {
                    flex: 1 1 calc(10% - 10px);
                    max-width: 200px;
          }
}

/* 3 elementos por fila (tabletas) */
@media (max-width: 768px) and (min-width: 481px) {
          .header-image {
                    display: none;
          }

          nav ul li {
                    flex: 1 1 calc(33.33% - 30px);
                    max-width: 250px;
          }

          section#about p {
                    margin: 0;
          }

          .button-container {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: center;
                    align-items: center;
                    gap: 0px;
          }
}

/* 2 elementos por fila (teléfonos) */
@media (max-width: 480px) {
          .header-image {
                    display: none;
          }

          nav ul li {
                    flex: 1 1 calc(50% - 30px);
          }

          section#about p {
                    margin: 0;
          }

          .button-container {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: center;
                    align-items: center;
                    gap: 0px;
          }
}